@font-face{
    font-family: "replaceFont";
    src: url(./XandO.ttf);
}

body {
    background-color: #282b30;
}

.heading {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.playerTurn {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid #424549;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    font-family: "replaceFont";
    color: white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
}

#reset {
    background-color: #7289da;
}

.gameResult{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: -50px;
    margin-bottom: 20px;

}

