body {
    padding: 0;
    margin: 0;
}

.background {
    height: 100vh;
    background-color: #282b30;
    padding: 1px;
}

.heading {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.playerTurn {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: sans-serif;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid #424549;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}


.displayReset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 10px ;
}

.displayReset button {
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#reset {
    background-color: #7289da;
}

.player1 {
    color: red;
}

.player2 {
    color: #7289da;
}